.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;      /* you can adjust */
    width: 100%;
    background: rgb(158, 158, 158);
    z-index: 1000;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 150px;
}

.navList{
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-right: 25em;
    list-style: none;
}

.navList a{
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.3s ease;
    font-size: 20px;
    text-decoration: none;
}

.logo{
    font-size: 32px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.section{
    color: white;
    padding: 10%;
}

.signOutButton {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 18px;           /* matches link font */
    text-decoration: none;
    padding: 5px 15px;         /* matches link padding */
    border-radius: 5px;        /* matches link rounding */
    transition: 0.3s ease;     /* matches link hover */
}

.logoImage {
    height: 50px;        /* adjust size */
    width: auto;
    object-fit: contain;
    cursor: pointer;
}